<style>
	img {
		width: 300px;
		height: auto;
		display: block;
	}
</style>

<h1>Hello</h1>

<%= link_to 'Home', @root %>

<img src="<%= @page.css('.productImage').attr('src') %>">

<%= @page.css("#detail").to_html.html_safe %>

<% @product_images.each do |image| %>
	<img src="<%= image.attr('src') %>">
<% end %>

