<div class="row">
	<div class="col-xs-9">
		<%= f.text_field :url, placeholder: 'URL', class: 'form-control', required: "" %>
	</div>
	<div class="col-xs-3">
		<%= f.submit "Add Product", :disable_with => 'Adding...', class: 'btn btn-primary' %>
	</div>
</div>
